<style>

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.other{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #0084ff;
  color: #fff;
}

.other + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}

</style>


<div class="container is-fluid margins">
  <p class="header">Messages</p>
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>   
        <% if message.user_id == current_user.id %>

            <!--<div class="header"><strong><%= user.username %></strong> <%= message.message_time %></div>-->
            <!-- <small><%= message.message_time %></small> -->
            <ul>
              <li class="me"> 
              	<small><%= message.message_time %></small>
              	<br>
                <strong style="color: white"><%= message.body %></strong>
              </li>
            </ul>
        <% else %> 
        	<ul>
              <li class="other"> 
              	<small><%= message.message_time %></small>
              	<br>
                <strong><%= message.body %></strong>
              </li>
            </ul>
        <% end %>
      <% end %>
    <% end %>
  

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="control">
      <%= f.text_area :body, autofocus: true,  placeholder: 'Send a Message', class: "input" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="control">
      <%= f.submit "Reply", class: "button" %>
    </div>

  <% end %>
</div>