<% if current_user.id != user.id %>
	<center>
		<% if !current_user.following?(user) %>
			<%= form_for(current_user.active_relationships.build) do |f| %>
				<div><%= hidden_field_tag :followed_id, user.id %></div>
				<%= f.submit "Follow", class: "button is-link" %>
			<% end %>
		<% else %>
			<%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
				<%= f.submit "Unfollow", class: "button is-link" %>
			<% end %>
		<% end %>
	</center>
<% end %>