<div class="columns">
  <%= form_for(ranking, :html => {:class => "field is-horizontal"}, remote: true) do |form| %>
  <div class="column">
    <%= form.hidden_field :employerRank, :value => ranking.employerRank %>
    <div class="select is-fullwidth">
      <%= form.select :yourRank, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
    </div>
    <%= form.hidden_field :user_id, :value => current_user.id%>
    <%= form.hidden_field :job_id, :value => ranking.job.id %>
  </div>
  <div class="column">
    <%= form.submit "Change", :class => "button is-primary is-small is-rounded" %>
  </div>
  <% end %>
</div>
