<div class="columns">
  <div class="column">
  <%= form_for(ranking, :html => {:class => "field is-horizontal"}) do |form| %>

    <%= form.hidden_field :employerRank, :value => ranking.employerRank %>
   
    <%= form.select :yourRank, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>

    <%= form.hidden_field :user_id, :value => current_user.id%>

    <%= form.hidden_field :job_id, :value => ranking.job.id %>
  </div>
  <div class="column">
    <%= form.submit "Save Changes", :class => "button is-success is-small" %>
  <% end %>
  </div>
</div>