<tr class="jobs" id="ranking_<%= ranking.id %>">
  <td><%= ranking.job.jobId %></td>
  <td><%= ranking.job.company %></td>
  <td><%= ranking.job.position %></td>
  <td><%= ranking.job.location %></td>
  <td><%= ranking.employerRank %></td>
  <td id="yourRank_<%= ranking.id %>"><%= ranking.yourRank %></td>
  <td><%= render partial: 'rankings/edit', locals: { :ranking => ranking } %></td>
  <td>
    <%= link_to ranking_path(ranking), method: :delete, :class => "red is-rounded is-small", remote: true do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>