<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <header><%= conversation.opposed_user(user).username %></header>
    </div>

    <div class="panel-body">
      <div class="messages-list">
        <ul> 
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %> 
       </ul>
      </div>
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="input" placeholder="Send a Message"></textarea>
        <input type="submit" class="button is-info" value="Send">
      </form>
    </div>
  </div>
</li>


