<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).username, '', class: 'toggle-window' %>
      <small><%= link_to "Close", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %></small>
    </div>

    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul> 
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %> 
       </ul>
      </div>
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="input" placeholder="Send a Message"></textarea>
        <input type="submit" class="button is-info" value="Send">
      </form>
    </div>
  </div>
</li>