<tr id="job_<%= job.id %>">
  <td id="jobId"><%= job.jobId %></td>
  <td id="company"><%= job.company %></td>
  <td id="position"><%= job.position %></td>
  <td id="openings"><%= job.openings %></td>
  <td id="location"><%= job.location %></td>
  <td><%= render partial: 'rankings/new', locals: { :job => job } %></td>
  <td><%= link_to "Edit", edit_job_path(job), class: "button is-primary is-rounded", remote: true %></td>
</tr>