<div class="box">
  <div class="field">
    <h2>Add Job</h2>
    <%= form_with model: @job, url: jobs_path do |form| %>

      <%= form.label :"Job Id", :class => "label" %>
      <%= form.text_field :jobId, :class=> "input control" %>

      <%= form.label :company, :class => "label" %>
      <%= form.text_field :company, :class => "input control" %>

      <%= form.label :position, :class => "label" %>
      <%= form.text_field :position, :class => "input control" %>

      <%= form.label :location, :class => "label" %>
      <%= form.text_field :location, :class => "input control" %>

      <br><br>
      <%= form.submit "Add", :class => "button is-success" %>
    <% end %>
  </div>
</div>