<h2>Add Job</h2>
<%= form_with model: @job, url: jobs_path do |form| %>
  <p>
    <%= form.label :"Job Id" %><br>
    <%= form.text_field :jobId %>

  <p>
    <%= form.label :company %><br>
    <%= form.text_field :company %>
  </p>

  <p>
    <%= form.label :position %><br>
    <%= form.text_field :position %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>