<div class="container is-fluid margins">
  <p class="header">Search and Add Jobs</p>
  <div class="box rounded-corners">
    <%= search_form_for @search, :html => {:class => "field has-addons"} do |f| %>
      <%= f.search_field :company_or_position_or_location_cont, :placeholder => "Search by job id, company, position or location", :class => "input control" %>
      <%= f.submit "Search", :class => "button is-info" %>
    <% end %>
    <% if !@emptyQuery %>
      <table class="table is-hoverable is-fullwidth" id="jobs">
        <thead>
          <tr>
            <th>Job<br />ID</th>
            <th>Company</th>
            <th>Position</th>
            <th>Location</th>
            <th colspan="2">Ranking</th>
          </tr>
        </thead>
        <tbody>
          <%= render @jobs %>
        </tbody>
      </table>
      <button class="button is-success is-rounded" id="addJob">Add new Job</button>
    <% end %>
    <div id="addJobForm" style="display: none">
      <br>
      <div class="box">
        <div class="field">
          <p class="header">Add Job</p>
          <%= form_with model: @job, url: jobs_path, remote: true do |form| %>

            <%= form.label :"Job Id", :class => "label" %>
            <%= form.text_field :jobId, :class=> "input control" %>

            <%= form.label :company, :class => "label" %>
            <%= form.text_field :company, :class => "input control" %>

            <%= form.label :position, :class => "label" %>
            <%= form.text_field :position, :class => "input control", :placeholder => "ex. Software Developer" %>

            <%= form.label :location, :class => "label" %>
            <%= form.text_field :location, :class => "input control", :placeholder => "City, Country" %>

            <br><br>
            <%= form.submit "Add", :class => "button is-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="header">Your Rankings</p>
  <div class="box rounded-corners">
    <table class="table is-hoverable is-fullwidth" id="rankings">
      <thead>
        <tr>
          <th>Job<br />ID</th>
          <th>Company</th>
          <th>Position</th>
          <th>Location</th>
          <th>Employer<br />Rank</th>
          <th>Your<br /> Rank</th>
          <th colspan="2">Edit</th>
        </tr>
      </thead>
      <tbody>
        <%= render @rankings %>
      </tbody>
    </table>
    <%= link_to "Finish", home_path, :class => "button is-primary is-rounded" %>
  </div>
  <br>
  <br>
</div>
