<div class="container is-fluid margins">
  <h2>Jobs</h2>
  <br>
  <%= search_form_for @search do |f| %>
    <%= f.label :"Search Jobs by company, position, location" %><br>
    <%= f.search_field :company_or_position_or_location_cont %>
    <%= f.submit %>
  <% end %>
  <br>
  <% if !@emptyQuery %>
  <table>
    <tr>
      <th>Job ID</th>
      <th>Company</th>
      <th>Position</th>
      <th>Location</th>
    </tr>

    <% @results.each do |job| %>
      <tr>
        <td class="jobTableId" style="display:none;"><%= job.id %></td>
        <td><%= job.jobId %></td>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <td><%= job.location %></td>
        <td class="text-center"><button type="button" class="selectJobBtn">Select</button></td>
      </tr>
    <% end %>
  </table>
  <% end %>
  <br>
  <%= link_to "Add new Job", new_job_path %>
  <br>
</div>