<div class="container is-fluid margins">
  <h1>Add Job Form</h1>
  <br>
  <%= form_with model: @job, local: true do |form| %>
    <p>
      <%= form.label :"Job Id" %><br>
      <%= form.text_field :jobId %>
    </p>
   
    <p>
      <%= form.label :company %><br>
      <%= form.text_field :company %>
    </p>

    <p>
      <%= form.label :position %><br>
      <%= form.text_field :position %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>
   
    <br>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>