<div class="container is-fluid margins">
  <h1>Explore Feed</h1>
  <br>
  <% @posts.each do |posts| %> 
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
              <img src="avatar.png" class="rounded-corners">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="/user/<%= User.find(posts.user_id).username %>"><%= User.find(posts.user_id).username %></a>
              <small><%= posts.created_at.to_formatted_s(:short) %></small>
              <br>
              <%= posts.content %>
            </p>
          </div>
        </div>
      </article>

             <!-- Comments -->
      <br>
      <h1> Comments </h1>
      <hr>
      <br>
      <% posts.comments.each do |comment| %>  
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
                <img src="avatar.png" class="rounded-corners">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <a href="/user/<%= comment.commenter %>" align = "top" ><%= comment.commenter %></a>
                <%= comment.body %>
                <div ALIGN=RIGHT>
                   <small><%= comment.created_at.to_formatted_s(:short) %></small>   
                </div>
                <div ALIGN=RIGHT>
                  <small><%= link_to 'Delete Comment', [comment.post, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></small>   
                </div>
              </p>
            </div>
          </div>
        <hr>
        </article>
      <% end %>
      <%= form_with(model: [ posts, posts.comments.build ], local: true) do |form| %>       
        <p>
          <%= form.hidden_field :commenter, :value => current_user.username %>
          <%= form.text_area :body, autofocus: true,  placeholder: 'Add a Comment', class: 'input'%>
        </p>
        <p>
          <%= form.submit "Comment", class: "button is-link"%>
        </p>
      <% end %>
    </div>
  <% end %>
</div>