<div class="container is-fluid margins">
  <h1>Home Feed</h1>
  <br>
  <%= render '/components/post_form' %>
  <% @posts.each do |posts| %> 
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
              <img src="avatar.png" class="rounded-corners">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="/user/<%= User.find(posts.user_id).username %>"><%= User.find(posts.user_id).username %></a>
              <small><%= posts.created_at.to_formatted_s(:short) %></small>
              <br>
              <%= posts.content %>
            </p>

            <!-- Comments section -->
            <hr>
            <h4>Comments</h4>
            <% posts.comments.each do |comment| %>              
              <div>
                <img src="avatar.png" class="rounded-corners" width = "64" height = "64">
                <a href="/user/<%= comment.commenter %>"><%= comment.commenter %></a>
                <%= comment.body %>
              </div>
              <div ALIGN=RIGHT>
                 <small><%= comment.created_at.to_formatted_s(:short) %></small>   
              </div>
              <div ALIGN=RIGHT>
                <small><%= link_to 'Delete Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></small>   
              </div>
            <% end %>
            <%= form_with(model: [ posts, posts.comments.build ], local: true) do |form| %>       
              <p>
                <%= form.hidden_field :commenter, :value => current_user.username %>
                <%= form.text_area :body, autofocus: true,  placeholder: 'Add a Comment', class: 'input'%>
              </p>
              <p>
                <%= form.submit "Comment", class: "button is-link"%>
              </p>
            <% end %>

          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item"><span class="icon is-small"><i class="fa fa-reply"></i></span></a>
              <a class="level-item"><span class="icon is-small"><i class="fa fa-retweet"></i></span></a>
              <a class="level-item"><span class="icon is-small"><i class="fa fa-heart"></i></span></a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>
</div>