<div class="container is-fluid margins">
  <p class="header"><%= @username %>'s Rankings</p>
  <div class="box">
    <table class="table is-hoveratatble">
      <tr>
        <th>Job ID</th>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
        <th>Employer Rank</th>
        <th>Their Rank</th>
      </tr>
      <% @rankings.each do |ranking| %>
        <tr>
          <td><%= ranking.job.jobId %></td>
          <td><%= ranking.job.company %></td>
          <td><%= ranking.job.position %></td>
          <td><%= ranking.job.location %></td>
          <td><%= ranking.employerRank %></td>
          <td><%= ranking.yourRank %></td>
        </tr>
      <% end %>
    </table>
  </div>
	<% @rankings.each do |ranking| %>
		<%= render partial: 'layouts/fetchRankings', locals: { :job => ranking.job } %>
	<% end %>
</div>
