<div class="post">
  <div style="margin-top: 20px; margin-left: 10px">
    <p>
      <small>
        <strong class="post_user"><%= Digest::SHA1.hexdigest(User.find(post.user_id).username)[0, 6] %></strong>
      </small>
      <small class="faded" style="margin-left: 10px"><%= local_time_ago(post.created_at) %></small>
      <br>
      <%= post.content %>
      <br>
      <small><a class="reply_post">Reply</a></small>
      <small><a class="toggle_post_comments" style="margin-left: 10px;"><%= post.comments.length %> Replies</a></small>
    </p>
  </div>
  <div class="post_comments" style="display: none">
    <div id="comments_<%= post.id %>">
      <%= render post.comments %>
    </div>
  </div>
  <div class="reply" style="display: none">
    <br>
    <%= form_with(model: [ post, post.comments.build ], remote: true) do |f| %>
      <div class="field is-grouped">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <p class="control is-expanded">
          <%= f.text_field :body, autofocus: true, class: "input rounded-corners reply_field", id: "comments_#{post.id}_form" %>
        </p>
        <p class="control">
            <%= f.submit "Reply", class: "button is-info is-rounded submit_reply" %>
          </p>
        <p class="control">
          <a class="cancel button is-light is-rounded">Cancel</a>
        </p>
      </div>
    <% end %>
  </div>
</div>
