<div class="box rounded-corners">
  <p class="title is-4">
    <%= job.company %>
  </p>
  <div class="jobDesc">
    <span class="grey-rounded-job-info"><%= job.jobId %></span>
    <span class="grey-rounded-job-info"><%= job.position %></span>
    <span class="grey-rounded-job-info">
      <%= job.openings %>
      <% if job.openings == 1 %>
        Opening
      <% else %>
        Openings
      <% end %>
    </span>
    <span class="grey-rounded-job-info">
      <%= link_to controller: "pages", search: job.location do %>
        <i class="fa fa-map-marker" style="color: #358BF2"></i><%= job.location %>
      <% end %>
    </span>
  </div>
  <div class="column is-12">
    <div class="columns is-multiline">
      <% if job.rankings.length == 0 %>
        <p class="subtitle is-6 faded" style="padding-left: 10px">No rankings for this job yet</p>
      <% else %>
        <% job.rankings.each do |other| %>
          <% if current_user.id == other.user.id && job.rankings.length == 1 %>
            <p class="subtitle is-6 faded" style="padding-left: 10px">Looks like only you've ranked this job so far.</p>
          <% elsif current_user.id != other.user.id %>
            <div class="column is-3">
              <div class="box rounded-corners">
                <p>
                  <strong><%= Digest::SHA1.hexdigest(other.user.username)[0, 6] %></strong>
                  <br>
                  <% if other.employerRank == "Offer" %>
                    <span class="button is-rounded is-success"><%= other.employerRank %></span>
                  <% else %>
                    <span class="button is-rounded is-info"><%= other.employerRank %></span>
                  <% end %>
                  <span class="button is-rounded"><%= other.yourRank %></span>
                  <br>
                  <div class="time-style faded">
                    <small><%= local_time_ago(other.updated_at) %></small><br />
                  </div>
                  <small><%= link_to "Message", messages_path(user_id: other.user.id), method: :get %></small>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <%= render partial: 'posts/post_form', locals: { :job_id => job.id } %>
  <%= render partial: '/layouts/content', locals: { posts: job.posts, job_id: job.id } %>
</div>
