<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="/logo.svg">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-right">
          <%= form_tag pages_path, :method => 'get' do %>
            <%= search_field_tag :search, params[:search], class: "input is-rounded", placeholder: "Search", id: 'nav_search',  
            data: { autocomplete_source: autocompleteJobs_path } %>
          <% end %>
          <span class="icon is-small is-right">
            <i class="fa fa-search search-icon-margin"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/home"><i class="fa fa-home"></i>Home</a>
      <a class="navbar-item" href="/explore"><i class="fa fa-globe"></i>Explore</a>
      <div class="navbar-item has-dropdown is-hoverable" data-behavior="notifications">
        <div class="navbar-link" data-behavior="notifications-link">
          <i class="fa fa-bell"></i>Notifications
          <span data-behavior="unread-count" style="margin-left: 5px"></span>
        </div>
        <div class="navbar-dropdown is-right" data-behavior="notification-items">
          <div class='navbar-item'>
            <p>You have no new notifications</p>
          </div>
        </div>
      </div> 
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <div class="username_padding">
            <%= Digest::SHA1.hexdigest(current_user.username)[0, 6] %>
          </div>
        </div>
        <div class="navbar-dropdown is-right">
          <a href=<%= jobs_path %>>
            <div class="user-dropdown"><i class="fa fa-list-ol"></i>Rankings</div>
          </a>
          <a href=<%= new_feedback_path %>>
            <div class="user-dropdown"><i class="fa fa-comment"></i>Send Feedback</div>
          </a>
          <hr class="navbar-divider">
          <a href=<%= destroy_user_session_path %> rel="nofollow" data-method="delete">
            <div class="user-dropdown"><i class="fa fa-sign-out"></i>Log Out</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
