<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="/logo.svg">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-right">
          <%= form_tag pages_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :class => "input is-rounded", :placeholder => "Search Rankings" %>
          <% end %>
          <span class="icon is-small is-right">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/home">Home</a>
      <a class="navbar-item" href="/explore">Explore</a>

      <div class="navbar-item has-dropdown is-hoverable" data-behavior="notifications">
        <div class="navbar-link" data-behavior="notifications-link">
          <i class="fa fa-bell" style="margin-right: 10px"></i>
          <span data-behavior="unread-count"></span>
        </div>
        
        <div class="navbar-dropdown is-right" data-behavior="notification-items">
           <!-- Will be populated through the js file -->
        </div>
      </div> 

      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <%= current_user.username %>
        </div>
        <div class="navbar-dropdown is-right">
          <div class="navbar-item">
            <a href="/user/<%= current_user.username %>">My Profile</a>
          </div>
          <div class="navbar-item">
            <%= link_to('Messages', conversations_path) %>
          </div>
          <div class="navbar-item">
            <%= link_to('My Rankings', jobs_path) %>
          </div>
          <div class="navbar-item">
            <%= link_to('Settings', edit_user_registration_path) %>
          </div>
          <div class="navbar-item">
            <a href="/help">Help</a>
          </div>
          <div class="navbar-item">
            <%= link_to('Feedback', new_feedback_path) %>
          </div>  
          <hr class="navbar-divider">
          <div class="navbar-item">
            <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
