<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="/logo.svg">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-right">
          <%= form_tag pages_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class: "input is-rounded", placeholder: "Search Jobs, Postions, Locations ... ", id: 'nav_search',  
            data: { autocomplete_source: autocompleteJobs_path } %>
          <% end %>
          <span class="icon is-small is-right">
            <i class="fa fa-search search-icon-margin"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/home">Home</a>
      <a class="navbar-item" href="/explore">Explore</a>

      <div class="navbar-item has-dropdown is-hoverable" data-behavior="notifications">
        <div class="navbar-link" data-behavior="notifications-link">
          Notifications
          <span data-behavior="unread-count" style="margin-left: 5px"></span>
        </div>
        <div class="navbar-dropdown is-right" data-behavior="notification-items">
           <!-- Will be populated through the notifications.js.coffee file -->
        </div>
      </div> 

      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <%= current_user.username %>
        </div>
        <div class="navbar-dropdown is-right">
          <a href="/user/<%= current_user.username %>">
            <div class="user-dropdown">Profile</div>
          </a>
          <a href=<%= jobs_path %>>
            <div class="user-dropdown">Rankings</div>
          </a>
          <a href=<%= conversations_path %>>
            <div class="user-dropdown">Messages</div>
          </a>
          <a href=<%= new_feedback_path %>>
            <div class="user-dropdown">Feedback</div>
          </a>
          <a href="/help">
            <div class="user-dropdown">Help</div>
          </a>
          <hr class="navbar-divider">
          <a href=<%= destroy_user_session_path %> rel="nofollow" data-method="delete">
            <div class="user-dropdown">Log Out</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
