<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  	<%= render '/layouts/nav' %>
  	<div class="container is-fluid">
       <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
    	<%= yield %>
	</div>
  </body>
</html>
